#wherestheweirdo,
#halle,
#botaniskatradgarden {
  flex-wrap: wrap;
}

#goodbyeturningturtle img {
  object-position: 0% 47%;
}

#meetingpricken img {
  object-position: 0% 58%;
}

#snailfriends img {
  object-position: 0% 80%;
}

#jackvspricken img {
  object-position: 0% 15%;
}

#byebye img {
  object-position: 0% 25%;
}
